@font-face {
  font-family: 'NanumDarEuiGweDo';
  src:
    url('../assets/fonts/subset-NanumDarEuiGweDo.woff2') format('woff2'),
    url('../assets/fonts/subset-NanumDarEuiGweDo.woff') format('woff'),
    url('../assets/fonts/subset-NanumDarEuiGweDo.ttf') format('turetype');

  font-display: fallback;
}
