@charset "utf-8";

@import url('./reset.scss');
@import url('./font.scss');

:root {
  --red: #ea7664;
  --black: #544f4f;
  --brown: #89757a;
  --beige: #f6f5f5;
}

// 웹 폰트 서비스 이용 - link
// body {
//   font-family: 'NanumDarEuiGweDo';
// }

// css
body {
  font-family: 'NanumDarEuiGweDo';
}
